networkx==2.2  # this needs to be less than 2.4
causalnex==0.6.0
pandas==0.24.0
numpy==1.22.0
scikit-learn==0.22.2
pgmpy==0.1.10
reverse-geocoder==1.5.1
transformers==2.5.1
langdetect==1.0.8
pandarallel==1.4.6
tqdm==4.43.0
